<div class="container-inicio">
  <div class="card-body">
    <h1 class="card-title">Cadastro de Veículos</h1>
    <p class="card-text">Qual operação deseja realizar?</p>
  </div>
  <div class="card-botoes">
    <button type="button" class="btn btn-primary" (click)="redirecionar('cadastro')">Cadastrar carro</button>
    <button type="button" class="btn btn-primary" (click)="redirecionar('lista')">Exibir lista de carros</button>
    <button type="button" class="btn btn-primary" (click)="buscarDados()">BuscarDados</button>
  </div>
</div>
