<div class="container">
  <div class="ctn container-inicio">

    <h1 class="card-title">Cadastro e consulta de carros</h1>
    <br>
    <img src="../../../assets/img/car_inicio.png" alt="">
    <br>
    <h3 class="card-text">Qual operação deseja realizar?</h3>
    <br>
    <button type="button" class="btn btn-primary" (click)="redirecionar('cadastro')">Cadastrar carro</button>
    <button type="button" class="btn btn-primary" (click)="redirecionar('lista')">Exibir carros</button>
    <br>
    <small>@2024  -  Desenvolvido por Michael Cruz</small>
  </div>


</div>
