.container-cadastro {
  border: 1px solid rgb(161, 161, 161);
  padding: 2rem;
  border-radius: 1rem;
}

.input-cores {
  display: flex;
}

.input-group-text {
  width: 25%;
  height: fit-content;
}

.form-control {
  height: fit-content;
}

.lista-cores {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.card-botoes {
  padding: .5rem;
  display: flex;
  justify-content: center;
}
.btn {
  margin: 0 10px
}
