<div class="input-group mb-3">
  <span class="input-group-text">Nome do Carro</span>
  <input type="text" class="form-control">
</div>
<div class="input-group mb-3">
  <span class="input-group-text">Ano de Fabricação</span>
  <input type="text" class="form-control">
  <span class="input-group-text">Ano do Modelo</span>
  <input type="text" class="form-control">
</div>
<div class="input-group mb-3">
  <span class="input-group-text">Modelo</span>
  <input type="text" class="form-control">
  <span class="input-group-text">Marca</span>
  <input type="text" class="form-control">
</div>

<div class="input-cores">
  <div class="input-group mb-3">
    <span class="input-group-text">Cores</span>
    <input type="text" class="form-control">
  </div>
  <ul class="lista-cores">
    <li>Cor</li>
    <li>Cor</li>
    <li>Cor</li>
    <li>Cor</li>
  </ul>
</div>

  <div class="card-botoes">
    <button class="btn btn-danger">Cancelar</button>
    <button class="btn btn-success">Cadastrar</button>
  </div>

