<div class="card" style="width: 18rem;">
  <div class="card-nome d-flex">
    <p>ID</p>
    <h5 class="card-title">Nome Carro</h5>
    <button type="button" class="btn-close" aria-label="Close"></button>
  </div>
  <ul class="list-group d-flex list-group-flush">

    <li class="list-group-item">
      <p>Ano de Fabricação</p>
      <p>Valor</p>
    </li>
    <li class="list-group-item">
      <p>Ano do Modelo</p>
      <p>Valor</p>
    </li>
    <li class="list-group-item">
      <p>Modelo</p>
      <p>Valor</p>
    </li>
    <li class="list-group-item">
      <p>Marca</p>
      <p>Valor</p>
    </li>
  </ul>
  <div class="info-cores">
    <div class="lista-cores">
      <li class="cor-nome">Cor</li>
      <li class="cor-nome">Cor</li>
      <li class="cor-nome">Cor</li>
      <li class="cor-nome">Cor</li>
    </div>
  </div>
  <div class="card-botoes">
    <button class="btn btn-secondary">Voltar</button>
    <button class="btn btn-danger">Excluir</button>
    <button class="btn btn-warning">Atualizar</button>
  </div>
</div>
