.container {
  display: flex;
  justify-content: center;
}
.container-lista {
  width: 100%;
  padding: 1rem;
  margin: 1rem;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.table {
  table-layout: fixed;
  width: 90%;
}

th, td {
  text-align: center;
}

.btn {
  margin: 5px 10px;
}

.dados-atualizacao {
  padding: 1rem;
}

.nome-cor {
  list-style: none;
}

.input-cores {
  display: flex;
}

.input-lista-cores {
  display: flex;
  flex-direction: column;
}

.btn-small {
  padding: 0;
  height: 1.5rem;
  width: 1.5rem;
  font-size: small;
  opacity: 80%;
}
